<div class="content-card" [ngClass]="{'last': last, 'news': type== 'news', 'story': type== 'story'}" >
  <mat-card>
    <mat-card-title appTextDecoration [Some] = '"underline"'>
      {{stuff.title}}
    </mat-card-title>
  <mat-card-content *ngIf='stuff.imgUrl'>
    <img mat-card-lg-image src="{{stuff.imgUrl}}" alt="{{stuff.body}}" (click)="clicked()">
  </mat-card-content>
  <mat-card-content *ngIf='!stuff.imgUrl'>
    <img mat-card-lg-image src="https://bulma.io/images/bulma-logo.png" (click)="clicked()">
  </mat-card-content>
  <mat-card-subtitle class="body">
    {{stuff.body}}
  </mat-card-subtitle>
  <mat-card-content>
    {{index}}
  </mat-card-content>
  <mat-card-content>
    {{stuff.contentId}}
  </mat-card-content>
  <mat-card-content>
    {{stuff.author}}
  </mat-card-content>
  <mat-card-content>
    {{stuff.type}}
  </mat-card-content>
  <mat-card-content appTextDecoration [Some] = '"line-through"'>
    {{stuff.tags}}
  </mat-card-content>
  </mat-card>
  <mat-spinner color="warn">

  </mat-spinner>
</div>
